requests~=2.32.3
GitPython~=3.1.44
PyGithub==2.5.0
slack_sdk~=3.34.0
packaging~=24.2
utils~=1.0.2
boto3~=1.37.18
botocore~=1.37.18

git+https://github.com/edenlabllc/github_actions.common.git@v1#egg=github_actions.common
